<!--  FOOTER : LA RESPONSIVITE -->

<!--  PARTIE 1 : LA RESPONSIVITE -->
<div class="d-flex justify-content-center"> 
    <figure>
        <img src="/assets/Icones/logo-ordi.png" alt="logo-ordi">
        <h4 class="focus-h4">Raconté avec passion</h4>
        <p>Par un naturopathe expert en la matière</p>
    </figure>
    <figure>
        <img src="/assets/Icones/logo-plante.png" alt="logo-colis">
        <h4 class="focus-h4">Séléctionnées avec soin</h4>
        <p>Par nos producteurs Français</p>
    </figure>
    <figure>
        <img src="/assets/Icones/logo-colis.png" alt="logo-colis">
        <h4 class="focus-h4">Préparée avec amour</h4>
        <p>Par une équipe de passionné-e-s</p>
    </figure>
</div>
<!--  FIN PARTIE 1 : LA RESPONSIVITE -->

<!--  PARTIE 2 : LA RESPONSIVITE -->
<figure class="logo-footer">
	<img src="/assets/images/image_pageindex/logo-footer.png" alt="logo footer">
</figure>
<div class="d-flex justify-content-center">
	<div class="footerPartie2">
		<div class="contactFooter">
			<h4>CONTACT</h4>
			<address>
				<ul>
					<li><a href="mailto:help@herboristeriedespre">help@herboristeriedupre.com</a></li>
					<li>Lun. Sam. 9h00 à 17h45</li>
					<li>77 avenue Pré-Saint-Gervais</li>
					<li>75008 Paris</li>
				</ul>
			</address>
		</div>
		<div class="informationFooter">
			<h4>INFORMATION</h4>
			<ul>
				<li><a href="{{ path("home") }}">Notre engagement</a</li>
		        <li><a href="{{ path("nousContacter") }}">Nous contacter</a></li>
            </ul>
        </div>
        <div class="aideFooter">
            <h4>BESOIN D'AIDE</h4>
            <ul>
                <li><a href="#">Charte Cookies</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">Mentions légales</a></li>
            </ul>
        </div>
        <div class="boiteMailFooter">
            <h4>CULTIVER MA BOITE MAIL</h4>
            <ul>
                <li>Inscrivez-vous pour être averti(e)</li>
                <li>de nos plus belles nouveautés !</li>
                <br>
                <li>
	                <form action="" method="" placeholder="votre adresse e-mail">
		                <input type="email">
		                <button type="submit">S'INSCRIRE</button>
	                </form>
                </li>
            </ul>
        </div>
    </div> 
</div>
<!--  FIN PARTIE 2 : LA RESPONSIVITE --><!--  FIN FOOTER  -->