  
<!--  HEADER   -->


<!-- BANDEAU A RETRAVAILLER  CAR NOM DE L'ENTREPRISE PAS CENTRé + PAS RESPONSIVE -->
<section class="header">
    <picture>
        <source media="(max-width: 700px)" class="logo" srcset="assets/images/image_pageindex/logo-mobile.png">
        <source media="(min-width: 700px)" class="logo" srcset="assets/images/image_pageindex/logo-herboristerie.png">
        <img src="assets/images/image_pageindex/logo-herboristerie.png" alt="logo">
    </picture>
</section>
<!--  FIN  BANDEAU   -->
