<!-- NAVBAR PAS RESPONSIVE POUR LA TABLETTE   -->

<div class="topnav" id="myTopnav">
	<a href="{{ path("home") }}" class="active">ACCUEIL</a>
	<a href="{{ path("plantes") }}">L'ABÉCÉDAIRE</a>
	<a href="{{ path("tisanes") }}">NOS TISANES</a>
	<a href="{{ path("qui_sommes_nous") }}">QUI SOMMES NOUS ?</a>
	<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		<i class="fa fa-bars"></i>
	</a>
</div>
<!--  FIN  NAVBAR   -->

