{% extends 'base.html.twig' %}

{% block title %}NousContacter{% endblock %}

{% block css %}
    <link rel="stylesheet" href="assets/css/nousContacter.css">
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="row">
			<h1>L'Herboristerie Du Pré</h1>
		</div>
		<div class="row">
			<h2>UNE QUESTION ? UN COMMENTAIRE ? UNE SUGGESTION ?</h2>
		</div>
		<div class="row">
			<h3>Contactez-nous ou passez prendre une tisane dans notre salon</h3>
		</div>
	</div>
	{# <main> #}
	<div class="row">
		<div class="col-6"><img src="assets/images/images_pagecontact/herboristerie-paris.png"></div>
	</div>
{# </div> #}

    <div class="row">
        <div class="col-4">
            <div id="store83" class="store-detail-box valign-middle-table" data-idstore="83">
                <div class="address-infos">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-xs-12">
                            <span class="name">Herboristerie Du Pré</span>
                            <address>
                                77, Avenue Des Champs
                                <br>
                                75008 - Paris
                                <br>
                                01 44 54 04 88
                            </address>
                        </div>
                        <div class="col-lg-5 col-md-6 col-xs-12">
                            <div class="btn-choose-ctn text-center"></div>
                        </div>
                    </div>
                </div>
                <div id="schedule" class="schedule">
                    <strong class="title">Horaires d'ouverture</strong>
                    <div class="clearfix">
                        <ul class="tab-hours md6 xxs12">
                            <li class="row" itemprop="openingHours" content="9h00 / 17h45">
                                <div class="col-lg-4 col-xs-6">
                                    <strong>Lundi</strong>
                                </div>
                                <div class="col-lg-8 col-xs-6">9h00 / 17h45</div>
                            </li>
                            <li class="row" itemprop="openingHours" content="9h00 / 17h45">
                                <div class="col-lg-4 col-xs-6">
                                    <strong>Mardi</strong>
                                </div>
                                <div class="col-lg-8 col-xs-6">9h00 / 17h45</div>
                            </li>
                            <li class="row" itemprop="openingHours" content="9h00 / 17h45">
                                <div class="col-lg-4 col-xs-6">
                                    <strong>Mercredi</strong>
                                </div>
                                <div class="col-lg-8 col-xs-6">9h00 / 17h45</div>
                            </li>
                            <li class="row" itemprop="openingHours" content="9h00 / 17h45">
                                <div class="col-lg-4 col-xs-6">
                                    <strong>Jeudi</strong>
                                </div>
                                <div class="col-lg-8 col-xs-6">9h00 / 17h45</div>
                            </li>
                        </ul>
                        <ul class="tab-hours md6 xxs12">
                            <li class="row" itemprop="openingHours" content="9h00 / 17h45">
                                <div class="col-lg-4 col-xs-6">
                                    <strong>Vendredi</strong>
                                </div>
                                <div class="col-lg-8 col-xs-6">9h00 / 17h45</div>
                            </li>
                            <li class="row" itemprop="openingHours" content="9h00 / 17h45">
                                <div class="col-lg-4 col-xs-6">
                                    <strong>Samedi</strong>
                                </div>
                                <div class="col-lg-8 col-xs-6">9h00 / 17h45</div>
                            </li>
                            <li class="row" itemprop="openingHours" content="9h00 / 17h45">
                                <div class="col-lg-4 col-xs-6">
                                    <strong>Dimanche</strong>
                                </div>
                                <div class="col-lg-8 col-xs-6">9h00 / 17h45</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <figure>
            <img src="assets/images/images_pagecontact/paris.png">
        </figure>
    </div>
</div>
{% endblock %}